;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[com.pitch/uix.dom "0.10.0"]
  [com.pitch/uix.core "0.10.0"]
  [reagent "1.2.0"]]

 :dev-http {3000 "public"}
 
  :builds
   {:app
    {:target :browser
     ; note to self: setting index.html js script source
     ; to module can break things during development
     ; use for release only
     :output-dir "public/js"
     :asset-path "/js"
     :release {:compiler-options {:optimizations :advanced}}
     :modules {:main {:init-fn sweeper.core/initFn}}}}}